<h3>All Books in Database</h3>
<h5>Click each book to see it's details</h5>

<% @books.each do |book| %>
  <section id= 'book-<%=book.id%>'>
  <li><%= link_to book.title, "/books/#{book.id}" %> </li>
  </section>
<% end %>
</br>
<b><%= link_to "Add Another Book", "/books/new" %></b>
