<h3>Add A Book to the Black Stories Matter Database</h3>

<h5>Please only enter ISBN-10 numbers and remove all dashes before entering</h5>

<%= form_tag "/books" do %>
  <%= label_tag "ISBN-10 Number" %>
  <%= text_field_tag :isbn %><br>
  <%= submit_tag 'Submit' %>
<% end %>
